body {
    background-image: url('./pics/bg-pattern.png'); 
    height: 100vh;
    --row-height: 100px;
}

.bg-pattern {
    background-color: #679e0eee;
    width: 100%;
    height: 100%;    
    display: grid;
    box-shadow: inset 0 0 350px 10px #000;
    grid-template-rows: var(--row-height) 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.back-button {
    background-image: url('./pics/back-button.png');
    background-size: 100%;
    width: 36px;
    top: 24px;
    left: 48px;
    position: absolute;
}

.back-button::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

h1 {
    grid-column: 1 / 3;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.img {
    max-width: calc(100% / 2);
    max-height: calc(65vh - var(--row-height) / 2);
}

.content {
    background-color: #C2A170;
    padding: 12px 8px 12px 36px;
    font-size: 24px;
    max-width: 480px;
}

.section-1 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    display: flex;
    align-items: flex-start;
}

.content-1 {
    margin-top: 48px;
}

.section-2 {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content-2 {
    margin-bottom: 48px;
}
