body {
    background-image: url("./organic-food-farm.jpg");
}

.header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid aqua;
    height: 120px;
}

.logo {
    font-size: 1.2rem;
}

.links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.links li:not(:first-child) {
    margin-left: 24px;
    display: block;
}