body {
    background-image: url("./organic-food-farm.jpg");
    margin: 0;
}

.header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid aqua;
    height: 120px;
    color: white;
    align-items: center;
    padding: 0 24px;
}

.logo {
    font-size: 2.5rem;
}

.links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: .8;
}

.links li:not(:first-child) {
    margin-left: 24px;
}